<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/11.5/phpunit.xsd" bootstrap="vendor/autoload.php" colors="true" failOnWarning="true" displayDetailsOnTestsThatTriggerWarnings="true">
  <testsuites>
    <testsuite name="unit">
      <directory>tests/Unit</directory>
    </testsuite>
    <testsuite name="integration">
      <directory>tests/Integration</directory>
    </testsuite>
  </testsuites>
  <php>
    <!-- Set DPD_CLOUD_SANDBOX=1 and DPD_CLOUD_PARTNER_NAME/DPD_CLOUD_PARTNER_TOKEN/DPD_CLOUD_USER_ID/DPD_CLOUD_USER_TOKEN to run integration tests -->
    <env name="DPD_CLOUD_SANDBOX" value=""/>
    <env name="DPD_CLOUD_PARTNER_NAME" value=""/>
    <env name="DPD_CLOUD_PARTNER_TOKEN" value=""/>
    <env name="DPD_CLOUD_USER_ID" value=""/>
    <env name="DPD_CLOUD_USER_TOKEN" value=""/>
  </php>
  <source>
    <include>
      <directory>src</directory>
    </include>
  </source>
</phpunit>
